<div class="questionIndex">
  <h1 class="qTitle"><span class="redHalf">Ques</span>t<span class="blueHalf">ions</span></h1>

  <ul>
    <% questions.forEach(question => { %>
      <% var opt1 = question.option1Vote %>
      <% var opt2 = question.option2Vote %>
      <% var opt1Percent = parseInt((opt1.length/(opt1.length+opt2.length))*100); %>
      <% var opt2Percent = parseInt((opt2.length/(opt1.length+opt2.length))*100); %>
      <div class="question">
        <li><a href="/questions/<%= question._id %>"><%= question.question %></a></li>
        <div class="section1">
          <li data-question-id="<%= question._id %>" class="option1"><%= question.option1 %></li>
          <li class="opt1">Votes: <%= opt1.length %> (<%= opt1Percent %>%)</li>
        </div>
        <div class="section2">
          <li data-question-id="<%= question._id %>" class="option2"><%= question.option2 %></li>
          <li class="opt2">Votes: <%= opt2.length %> (<%= opt2Percent %>%)</li>
        </div>
      <br>
      </div>
      <% }); %>
    </ul>
  </div>
