<div id="fullpage">
  <div class="section">
    <% questions.forEach((question, index) => { %>
      <div class="slide" data-anchor="slide<%= index %>">
        <% var opt1 = question.option1Vote %>
        <% var opt2 = question.option2Vote %>
        <% var opt1Percent = parseInt((opt1.length/(opt1.length+opt2.length))*100); %>
        <% var opt2Percent = parseInt((opt2.length/(opt1.length+opt2.length))*100); %>
        <div class="question">
          <p><a href="/questions/<%= question._id %>"><%= question.question %></a></p>
          <div class="section1">
            <p data-question-id="<%= question._id %>" class="option1"><%= question.option1 %></p>
            <p class="opt1">Votes: <%= opt1.length %> (<%= opt1Percent %>%)</p>
          </div>
          <div class="section2">
            <p data-question-id="<%= question._id %>" class="option2"><%= question.option2 %></p>
            <p class="opt2">Votes: <%= opt2.length %> (<%= opt2Percent %>%)</p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
