<div class="questionIndex">
  <h1 class="qTitle">Questions</h1>

  <ul>
    <% questions.forEach(question => { %>
      <% var opt1 = question.option1Vote %>
      <% var opt2 = question.option2Vote %>
      <div class="question">
        <li><a href="/questions/<%= question._id %>"><%= question.question %></a></li>

          <li data-question-id="<%= question._id %>" class="option1"><%= question.option1 %></li>
          <li class="opt1">Votes: <%= opt1.length %></li>


        <li data-question-id="<%= question._id %>" class="option2"><%= question.option2 %></li>
        <li class="opt2">Votes: <%= opt2.length %></li>

      <br>
      </div>
      <% }); %>
    </ul>
  </div>
