<% var opt1 = question.option1Vote %>
<% var opt2 = question.option2Vote %>
<% var opt1Percent = parseInt((opt1.length/(opt1.length+opt2.length))*100); %>
<% var opt2Percent = parseInt((opt2.length/(opt1.length+opt2.length))*100); %>

<h1><%= question.question %></h1>
<div class="questionShow">
  <p data-question-id="<%= question._id %>" class="option1"><%= question.option1 %></p>
  <p class="opt1">Votes: <%= opt1.length %> (<%= opt1Percent %>%)</p>
  <p data-question-id="<%= question._id %>" class="option2"><%= question.option2 %></p>
  <p class="opt2">Votes: <%= opt2.length %> (<%= opt2Percent %>%)</p>
</div>
<form method="get" action="/questions/<%= question._id %>/edit">
  <button type="submit" class="btn-large waves-effect waves-light blue edit">Edit</button>
</form>
<form method="post" action="/questions/<%= question.id %>">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn-large waves-effect waves-light red delete">Delete</button>
</form>
